<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<menu>
		<add id="Suite900_Menu::menu" title="S900 Menu" sortOrder="20" module="Suite900_Menu" resource="Suite900_Menu::menu"/>
		<add id="Suite900_Menu::team" title="Team" sortOrder="20" module="Suite900_Menu" parent="Suite900_Menu::menu" resource="Suite900_Menu::menu_team" />
		<add id="Suite900_Menu::team_dev" title="Development" module="Suite900_Menu" parent="Suite900_Menu::team" resource="Suite900_Menu::menu_team_dev" action="suite900/team/dev"/>
		<add id="Suite900_Menu::team_seo" title="SEO" module="Suite900_Menu" parent="Suite900_Menu::team" resource="Suite900_Menu::menu_team_seo" action="suite900/team/seo"/>
		<add id="Suite900_Heloo::team_management" title="Management" module="Suite900_Menu" parent="Suite900_Menu::team" resource="Suite900_Menu::menu_team_management" action="suite900/team/management"/>
	</menu>
</config>